{if $tags}
<p class="tags">
    <strong>{str tag=tags}:</strong>
    {list_tags owner=$owner tags=$tags}
</p>
{/if}

<p>{$description|clean_html|safe}</p>

{if isset($attachments)}
<div class="has-attachment panel panel-default collapsible">
    <h5 class="panel-heading">
        <a href="#atrtefact-attach" class="text-left collapsed" aria-expanded="false" data-toggle="collapse">
            <span class="icon icon-paperclip left"></span>

            <span class="text-small">{str tag=attachedfiles section=artefact.blog}</span>
            <span class="metadata">({$attachments|count})</span>
            <span class="icon icon-chevron-down pull-right collapse-indicator"></span>
        </a>
    </h5>
        <!-- Attachment list with view and download link -->
    <div id="atrtefact-attach" class="collapse">
        <ul class="list-unstyled list-group">
            {foreach from=$attachments item=item}
            <li class="list-group-item">
                <a href="{$item->downloadpath}" class="outer-link icon-on-hover">
                    <span class="sr-only">
                        {str tag=Download section=artefact.file} {$item->title}
                    </span>
                </a>

                {if $item->icon}
                <img class="file-icon" src="{$item->iconpath}" alt="">
                {else}
                <span class="icon icon-{$item->artefacttype} icon-lg text-default left"></span>
                {/if}

                <span class="title list-group-item-heading text-inline">
                    <a href="{$item->viewpath}" class="inner-link">
                        {$item->title}
                    </a>
                    <span class="metadata"> -
                        [{$item->size|display_size}]
                    </span>
                </span>
                <span class="icon icon-download icon-lg pull-right text-watermark icon-action"></span>
            </li>
            {/foreach}
        </ul>
    </div>
</div>
{/if}

{if $license}
    <div class="license">
        {$license|safe}
    </div>
{/if}
