.btn-group div.form-button-group {
    display: inline-block;
    margin: 0;
    padding: 0;
    .btn {
        border-left:0;
        display: inline-block;
        border-bottom-radius: 0;
        border-bottom-left-radius: 0;
    }
}


// Grey buttons
.btn,
.btn-default {
    @include gradient-vertical($start-color: #FFFFFF, $end-color: #ececec, $start-percent: 10%, $end-percent: 100%);
    border-color: #dddddd;
    color: #676767;

    &:focus,
    &:hover {
        border-color: #a6a6a6;
        color: #333333;
    }
}

// Green buttons
.btn-success,
.btn-primary,
.btn-with-heading {
    @include gradient-vertical($start-color: #99b92d, $end-color: #66860f, $start-percent: 0%, $end-percent: 100%);
    border-color: #66860f;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
    font-weight: normal;

    &:focus,
    &:hover {
        border-color: #202c01;
        color: #FFFFFF;
    }
}

// cleans up some btns that went bung after the styles above
.btn-links,
.form-group.submitcancel .cancel {
    background: none;
    text-shadow: none;
    color: $theme-primary-color;
    border: 0;
}
.btn-link, .btn-link:active, .btn-link:focus, .btn-link:hover,
.btn-link.active, .btn-link[disabled], fieldset[disabled] .btn-link {
    background: none;
    text-shadow: none;
    color: $theme-primary-color;
    border: 0;
}

// forum buttons
.forum-post-btns {
    border-top: 1px dotted #ececec;
    padding: 10px;

    a {
        color: $theme-primary-color;
    }
}
