/* jQuery.Rating Plugin CSS - http://www.fyneworks.com/jquery/star-rating/ */


.star .radio-wrapper {
    // hide all radio divs after the first (the jquery module hides the inputs)
    > div.radio ~ div.radio {
       @include sr-only;
    }
}

.rating-cancel,
.star-rating {
    float: left;
    width: 19px;
    height: 19px;
    margin-right: 3px;
    cursor: pointer;
    display: block;
    background: transparent;
    overflow: hidden;
    &.star-rating-hover {
        a {
            text-decoration: none;
        }
    }
    a {
        @include fa-icon();
        font-size: 20px;
        &:hover {
            text-decoration: none;
        }
    }
}
.rating-cancel {
    margin-right: 7px;
    &.star-rating-hover {
        a {
            color: $state-danger-text;
        }
    }
    &.star-rating-readonly {
        display: none;
    }
    a {
        @extend .icon-minus-circle;
        color: rgba($text-color, 0.4);
    }

}
.star-rating {
    &.star-rating-hover,
    &.star-rating-on {
        a {
            @extend .icon-star;
        }
    }
    a {
      @extend .icon-star-o;
      color: #dbb80e;
    }
}

.star-rating-readonly {
    width: 14px;
    a {
       font-size: 15px;
       &:hover {
            cursor: default;
       }
    }
}

.star-comment-rating {
    float:right;
    margin-top:-10px;
    padding: 10px 0 0 10px;
}
