<div id="add-comment" class="add-comment-container">
    <h4 id="add_feedback_heading">
        <span class="icon icon-comments left"></span>
        {str tag=addcomment section=artefact.comment}
    </h4>

    <div class="addcommentform" id="comment-form">
        {$addfeedbackform|safe}
    </div>
</div>