// Generic custom css (anything longer than a screen view should have its own component file)

#exportgeneration {
    text-align: center;
}

#progress-iframe { // old style progress bars, e.g. portfolio export
    border: 1px solid $gray;
    height: 40px;
    width: 100%;
    max-width: 650px;
    margin: 20px 0;
}

.task-item .link-block .icon {
    margin-left: -8px; //correct alignment
}

.no-results {
    @extend .lead;
    clear: both;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.no-results-small {
    @extend .no-results;
    padding: 15px 0;
}

.wysiwyg {
    label {
        display:block;
    }
    label  + .mce-tinymce {
        width:100%;
    }
}

.toolbar-affix.affix {
    position: fixed;
    top: 70px;
    z-index: 1;
    @media (max-width: $screen-sm-min) {
        top: 0;
    }
}

.layoutthumb {
    rect.layout1 {
        fill: darken($panel-default-heading-bg, 10%);
        stroke: #ccc;
    }

    rect.layout0 {
        fill: darken($panel-default-heading-bg, 15%);
        stroke: #ccc;
    }

    svg {
        @media (max-width: $screen-sm-min) {
           zoom: 0.8;
       }
    }
}

.blocktype-radio {
    display: none;
}

// see emaillist.tpl
.email-list {
    padding-bottom: 20px;
    display: block;
    .validation-message {
        padding: 8px 0 15px 15px
    }
    @media (min-width: $screen-sm-min) {
        display: inline-block;
        width: 420px;
    }
    @media (min-width: $screen-lg-min) {
        width: 500px;
    }
}

// Styles for select2 in forms
// overriding select2 default styles
.select2-container-multi {
    max-width: 85% !important;
    display: inline-block;
    @media (min-width: $screen-sm-min) {
        width: 420px !important;
    }
    @media (min-width: $screen-lg-min) {
        width: 500px !important;
    }
    &.select2-dropdown-open {
        .select2-choices {
            border-radius: 4px 4px 0 0;
        }
    }
    .select2-choices {
        @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.075) inset);
        border-radius: 4px;
        background-color: #fff;
        border: 1px solid #ccc;
        background-image: none;
        width: 100%;
        .select2-search-choice {
            border: none;
        }
    }
}

// Specific panel-secondary styling for the edit page layout
.panel-secondary.blockinstance > .panel-heading > .blockinstance-header {
    display: block;
    padding-left: 10px;
    padding-right: 80px;
    word-break: normal;
}

// Style label institution selection
.institutionselector {
    .select {
        margin-bottom: 15px;
    }
    label {
        font-weight: bold;
    }
    @media (min-width: $screen-sm-min) {
        float: right;
        width: 50%;
        .form-group {
            float: right;
        }
        label {
            display: table-cell;
            width: auto;
        }
        .picker {
            width: auto;
            display: table-cell;
        }
    }
}

// Reset checkout boxes inside col in portfolio export page
.portfolio-export {
    .heading {
        margin-top: 15px;
    }
    .heading-exportable-pages {
        margin-top: 0;
        float: left;
    }
    .btn-group {
        float: right;
    }
}
.exportable-artefacts {
    .row {
        :first-child {
            clear: both;
        }
        border-bottom: 1px solid $list-group-border;
    }
    .checkbox input[type=checkbox] {
        margin-left: 0;
    }
    label {
        margin-bottom: 10px;
    }
}
.exportable-artefact-container {
    padding: 15px 15px 0;
    background-color: rgba($brand-default, 0.2);
}

// reset the padding when the individual font file is collapsed in font install
.individualfiles.form-group {
    padding: 0;
    border-bottom: 0 none;
}

// Login panel
.login-externallink {
    display: inline-block;
}

.form-group .select2-container .select2-selection .select2-search input[type=search] {
    width: 100% !important;
}

.progress-bar {
    position: relative;
    background-color: darken($brand-primary, 5%);
    &.small-progress span {
        color: $text-color;
        display: block;
        left: 100%;
        padding-left: 5px;
        position: absolute;
    }
}

// Admin user search page (advanced options)
// limit the size of dynamic to match select box above
.userserach-filter {
    margin-bottom: 15px;
    .loggedindate-container {
        margin-top: 10px;
        max-width: 250px;
    }
    .duplicateemail-filter {
        margin-top: 10px;
    }
}

// Puts the date picker in form-condensed fields on the next line
.form-condensed {
    .picker {
        &.first {
            margin-left: 270px;
        }
    }
}

// Gallery thumbnails
// override bootstrap thumbnails styling
.thumbnails {
    padding-top: 20px;
    .thumb {
        margin: 5px;
    }
}
.thumbnail {
    margin: 0 15px 0 0;
    .panel-body & {
        margin-bottom: 10px;
    }
}

//Google apps
.google-app {
    font-style: normal;
    img {
        height: 20px;
    }
    a {
        color: #245dc1;
    }
}

// Choose skin
.layoutoptions-container {
    @extend .clearfix;
    margin-top: 15px;
}
.layoutoption,
.skin {
    float: left;
    margin-bottom: 10px;
}

.objectionable-message {
    padding: 0 0 10px 0;
}

// Other social media input
#editprofileform_profiletype_other {
    @extend .form-control;
    width: 250px !important;
    margin-top: 10px;
    @media (min-width: $screen-xs-min) {
        margin-left: 10px;
    }
    @media (min-width: $screen-sm-min) {
        margin-top: 0;
    }
}

// Editgroup membership modal
// see editgroupmemship.tpl
.editgroup-container {
    border-bottom: 1px solid #f9f9f9;
    padding-bottom: 20px;
    margin-bottom: 20px;
    &:last-child {
        border-bottom-width: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .heading {
        margin: 0;
    }
}
