// panel-secondary is the style used for the user-editable panels used across Mahara

.panel-secondary {
    &.panel {
        @include box-shadow(none);
    }
    .admin & {
        border-color: #ddd;
    }
    > .panel-heading {
        font-family: $font-family-serif;
    }
    &.blockinstance.panel {
        background-color: transparent;
        .panel-heading {
            background-color: $panel-default-heading-bg;
        }
    }
    > .panel-heading, .panel-heading-nested {
        border-bottom: 2px solid $panel-default-border;
        padding-left: 8px;
        padding-right: 8px;

        // In page builder we can choose to not have a heading,
        // but we still need a dragable object.
        // Use a placeholder for visual help
        // will appear with the no-heading class in view mode
        &.panel-heading-placeholder {
            border: 1px solid darken($gray-lighter, 5%);
            border-style: dashed;
            background-color: $panel-default-heading-bg;
            .blockinstance-header {
                opacity:0.6;
            }
        }
    }
    &.panel-warning {
         > .panel-heading, .panel-heading-nested {
            border-left: 4px solid $panel-secondary-border;
            background-color: $panel-warning-heading-bg;
            border-bottom: 1px solid $panel-warning-border;
        }
    }
    .panel-heading-plain {
        border: 1px solid darken($gray-lighter, 5%);
    }
    .list-group .list-group-item {
        border-left: 0;
        border-right: 0;
        &:first-child {
            border-top:0;
        }
    }
    > .panel-body,
    > .block > .panel-body {
        padding: 15px 8px;
        &.flush {
            padding: 15px 0 0 0;
        }
    }
    // If there is no heading we don't want padding on the panel-body
    > .no-heading {
        > .panel-body {
            padding: 0;
        }
        .has-attachment {
            margin: 0;
        }
    }
}
