.dropzone-previews {
    border-radius: 4px;
    clear: both;
    padding: 40px;
    background-color: $gray-lighter;
    border: 2px dashed lighten($gray-light, 30%);

    &.dropzone-small {
        padding: 10px;
        margin-bottom:10px;
        .dz-message {
            font-size: $font-size-base;
        }
    }
    .dz-message {
        text-align: center;
        font-size: $font-size-large;
        color: $gray-light;
    }

    .fileupload-container.col-md-12 & {
        @media (min-width: $screen-sm-min) {
            clear: none;
            float: right;
            width: 50%;
            &.full-width {
                width:100%;
            }
        }
    }
}

.block-placeholder,
.highlight {
    border-radius: 4px;
    width: 100%;
    background-color: $panel-warning-heading-bg;
    border: 2px dashed darken( $panel-warning-border, 10%);
}

// Extending dropzone-previews for adding artefact to a page
.block-placeholder {
    @extend .dropzone-previews;
    padding: 20px;
    margin-bottom: 20px;
}

.highlight {
    margin: 0;
}
