// remove styles on outer element as class is duplicated to form element
.form-group.btn:not(.checkbox),
.form-group-inline.btn {
    background: none;
    border: none;
    padding-left: 0;
    &:hover {
        background: none;
        border: none;
    }
}

.stacked .with-heading > .form-group {
    &.select {
        label {
            display: block;
            font-weight: bold;
        }
    }
}

.form-group {
    border-bottom: 1px solid #f0f0f0;
    margin: 0;
    padding: 20px 0;
    position: relative;

    @media (min-width: $screen-sm-min) {
        &.input-pair {
            max-width: 48%;
            padding-top: 0;
            padding-bottom: 0;
        }
        &.input-pair ~ .input-pair {
            border-left: 1px solid #eaeaea;
            padding-left: 20px;
            margin-left: 15px;
            padding-top: 0;
        }
    }

    // Reset form-group for btn-group-top
    &.group-request {
        border-bottom: 0;
        padding: 0;
    }

    &.input-pair {
        padding-top: 10px;
        .select2 {
            max-width: 100%;
            width: 100%;
        }
    }

    .form-group {
        padding: 0;
    }
    &.nojs-hidden-block {
        .js & {
            display: none
        }
    }
    &.fieldset,
    .form-group-nested & {
        .form-group {
           padding: 20px 0;
        }
    }

    .form-simple & {
        border: 0;
        label {
            min-width: 100px;
        }
        .form-switch label {
            min-width: auto;
        }
    }

    .form-condensed & {
        padding: 7px 0;
        border: 0;
         .form-group { //nested form groups
            padding: 0;
        }
        &.fieldset {
            .form-group {
               padding: 20px 0;
            }
        }
    }

    &.bytes {
        .pseudolabel {
            display: none;
        }
    }

    &.file {
        input {
            @include box-shadow(none);
            border: 0;
            line-height: 14px;
        }
    }

    &.fake-form {
        border: 0;
        padding: 0;
        .collapsible-group .panel.collapsible & {
            border: 0;
            padding: 0;
        }
    }

    // this is a weird and somewhat broken case where form renderers are being use to render regular html
    &.html form {
        display: block;
        .form-group,
        .collapsible-group .panel.collapsible & .form-group {
            border: 0;
            padding: 0;
        }
    }

    &.button,
    &.submit {
        background: transparent;
        padding: 0;
        padding-top: $grid-gutter-width;
        border: 0;
        .form-inline & {
            padding: 0;
        }
    }

    //used when adding email addresses to profiles (anywhere else?)
    .message {
        font-size: 0.9em;
        color: $gray;
    }

    .form-inline & {
        padding: 0;
    }

    .modal-body & {
        padding: 10px 0;

        .description:not(.html) {
            padding-top: 5px;
        }
    }

    &.hide-label,
    .hide-label & {
        padding: 0;
        label {
            @include sr-only;
        }
    }

    &.last {
        border:0;
    }

    &.with-text-input {
        padding-bottom: 0;
    }

    &.login {
        input {
            &[type=text],
            &[type=password] {
                max-width:100%;
            }
        }
    }

    &.input-small,
    &.input-group,
    &:last-child {
        border: 0;
    }

    &.tab-pane,
    &.collapsible-group {
        border: 0;
        padding: 0;
    }

    &.with-padding {
        .form-group {
            padding: 20px 0;
        }
    }

    &.checkboxes {
        .btn-group {
            margin: 10px 0;
            display: block;
        }
         input[type=checkbox] {
            margin-left: 0;
        }
        &.stacked {
            .checkboxes-option {
                margin-left: 0;
            }
        }
        .checkboxes-option {
            margin-left: 265px;
            display: inline-block;
        }
    }

    &.checkbox {
        label {
            padding-left: 0;
        }
        .checkbox {
            display: inline-block;
            position: relative;
        }
        input[type=checkbox] {
            margin-left: 0;
        }
    }

    &.calendar {
        .calendar {
            margin-left: 0;
            width: 165px;
        }
    }

    &.submit {
        border-bottom: none;
    }

    // reset bootstrap button style for cancel button
    &.submitcancel {
        border-bottom: none;
        .cancel {
            background-color: transparent;
            border: none;
            text-decoration: underline;
            color: $link-color;
            &:hover {
                color: $link-hover-color;
            }
        }
    }

    &.filebrowser {
        border-bottom-width: 0;
        label {
            vertical-align: top;
        }
    }

     &.checkbox {
         .description {
            margin-left:0;
            max-width: 700px;
         }
    }

     &.tags {
        .tag-wrapper {
            display: block;
            @media (min-width: $screen-sm-min) {
                display: inline-block;
            }
            input {
                max-width: 85%;
                display: inline-block;
                @media (min-width: $screen-sm-min) {
                    max-width: 100%;
                }
            }
        }
    }

    &.color {
        label {
            &:first-child {
                display: block;
                @media (min-width: $screen-sm-min) {
                    display: inline-block;
                }
            }
            &:not(:first-child) {
                min-width: inherit;
            }
        }
        input {
            &.color {
                max-width: 240px;
            }
        }
    }
    &.html {
        border-bottom: none;
        h4 {
            margin: 0;
        }
    }
    &.double {
        .description {
            margin-left: 0;
            max-width:90%;
        }
        input[type=text],
        input[type=password],
        select {
            max-width: 45%;
            display: inline-block;
            @media (min-width: $screen-sm-min) {
                width: 150px;
            }
            @media (min-width: $screen-lg-min) {
                width: 150px;
            }
        }
    }

    // c.f edit group
   &.five-across {
        label {
            clear:both;
            width:100%;
        }
        input[type=text],
        input[type=password],
        select {
            @media (min-width: $screen-sm-min) {
                width: 155px;
            }
            @media (min-width: $screen-lg-min) {
                width: 150px;
            }
        }
        select {
            margin-left: 5px;
        }
        label + select {
            margin-left: 0px; // padding provided by label instead
        }
        &.multi-label {
            &.customrow {
                padding: 5px 0;
            }

             > .field {
                width: 167px;

                &.field-selectnumcols {
                    width: 123px;
                }

                .selectnumcols {
                    width: 107px;
                }

                select {
                    max-width: 90%;
                }

                label {
                    font-size: 0.8em;
                    color: $theme-text-midtone-color;
                }
                &.customrowtitle {
                    width: 70px;
                    margin-top: 28px;
                    @media (max-width: $screen-xs-max) {
                        width: 100%;
                        margin-top: 15px;
                    }
                }
            }
        }
    }

    h4,
    h3 {
        padding-bottom: 5px;
        margin-bottom: 20px;
        &.filter-result-heading {
            margin-bottom: 0;
        }
    }
      h3 {
        font-size: $font-size-large;
        padding-bottom: 10px;
    }


    .form-control {
        display: inline-block;
        @media (min-width: $screen-sm-min) {
            width: 370px;
            max-width: 85%;
            .columns3 &,
            .form-inline & {
                max-width:100%;
            }
            .form-inline & {
                width: 100%;
            }
        }
        @media (min-width: $screen-lg-min) {
            width: 500px;
        }
    }

    .form-condensed & {
        .form-control:not(.with-dropdown):not(.dropdown-connect) {
            width: auto;
            &.fullwidth {
                width: 100%;
                max-width: 100%;
            }
        }
    }

    .modal .fieldset & {
        border-bottom: 1px solid #f0f0f0;;
    }

    &.wysiwyg {

        .has-help &,
        .tab-content & {
             > .mce-container {
                max-width: 90%
            }
        }
    }
    .mce-tinymce {
        @media (min-width: $screen-sm-min) {
            width: 420px;
            max-width: 100%;
            .columns3 & {
                max-width: 100%;
            }
        }
        @media (min-width: $screen-lg-min) {
            width: 500px;
        }
    }

    &.radio {
        .pseudolabel {
            @media (max-width: $screen-sm-min) {
                min-width: auto;
            }
        }
        .pseudolabel,
        .radio-wrapper {
            @media (min-width: $screen-sm-min) {
                display: table-cell;
            }
        }
        .modal-docked & {
            .pseudolabel,
            .radio-wrapper {
                @media (max-width: $screen-md-min) {
                    display: block;
                }
            }
        }
    }

    .form-group.radio,
    .radio {
        @media (min-width: $screen-sm-min) {
            margin-top: 0;
        }
        input[type=radio] {
            margin-top: 5px;
            margin-left: 0;
        }
    }

    .help {
        margin-top: 5px;
        float:right; // can't use absolute because it messes up the pop out
    }

    .wysiwyg + .help {
        transform: translate(0px, -180px);
    }

    .help-inline {
        .help {
            top: auto;
            margin-top: 0;
            right:auto;
        }
    }

    .errmsg {
        @extend .align-with-input;
        color: $brand-danger;
        font-size: $font-size-base - 1;
        display: block;
        padding-top: 10px;

        @media (min-width: $screen-md-min) {
            margin-left: 265px;
        }
    }

    .description:not(.html) {
        color: $gray-light;
        font-style: italic;
        font-size: $font-size-base - 1;
        max-width: 90%;
        display: block;
        padding-top: 10px;
    }
    .requiredmarker {
        color: darken($brand-danger, 5%);
    }

    @media (min-width: $screen-sm-min) {
        &.input-small {
            max-width: 100%;
            width: 25%;
            .input-small {
                margin:0;
            }
        }
    }
}

.panel .form-group-nested {
    padding-bottom: 20px;
}

// Style placeholder text
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #777 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #777 !important;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #777 !important;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #777 !important;
}