<!-- @license http://www.gnu.org/copyleft/gpl.html GNU GPL version 3 or later -->
<!-- @copyright For copyright information on Mahara, please see the README file distributed with this software. -->
<h3>Sync users automatically via cron job</h3>
<p>Enable this setting to activate a task in the cron which will automatically create and/or update
user accounts based on records in the LDAP server. By default, this cron task will execute once
daily at midnight (server time). Edit the record in the "auth_cron" table or use the optional command-line script
supplied at htdocs/auth/ldap/cli/sync_users.php if you wish to schedule it to run at other times or with other settings.</p>
<p>This setting will have no effect if the cron is not running. See the
<a href="http://wiki.mahara.org/wiki/System_Administrator's_Guide/Installing_Mahara">installation guide</a> for
instructions on how to set it up.</p>